
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="icon" 
          type="image/png" 
          href="/static/favicon-32x32.png">
    <title>Corp Directory</title>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        {% block headtitle %}{% endblock %}
      </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        {% block headnav %}
        {% endblock %}
      </nav>
      
    </div>
    

    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid">
	{% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-primary" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <p></p>
          <div class="card bg-default">
            <div class="card-body">
            {% block body %}
            {% endblock %}
            </div>
          </div>
          <small><b>Frontend &#8594;</b> Hello from {{g.hostname}} {% if message %}<br/><b>Service &#8594;</b> {{message}}{% endif %}</small>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('.corp-badge').on( "click", function() {
          var selectedIds = [];
          $(".corp-badge").each(function (idx, item) {
            if ($(item).is(":checked")) {
              selectedIds.push(item.id);
            }
          });
          $('#badges').val(selectedIds.join(","));
        });
      });
      </script>

  </body>
</html>
